# Rust
/target/
**/*.rs.bk

# Binaries
*.exe
*.dll
*.so
*.dylib

# macOS
.DS_Store

# IDE / Editor configs
*.swp
*.swo
*~
.idea/
.vscode/
*.code-workspace

# Cargo
Cargo.lock
.cargo/
.cargo_vcs_info.json

# Environment
.env
.envrc

# Misc
*.log
*.class

# Coverage and test outputs
coverage/
*.profraw

# By convention: node/npm junk
node_modules/

/dist

# Other
.cursor
.python-version
debug
